<% [{display: "SimpleFIN Accounts", account_type: "simplefin"}, {display: "Maybe Accounts", account_type: "maybe"}].each do |this_type| %>
  <br>
  <h2 class="text-2xl font-semibold mb-4"><%= this_type[:display] %></h2>
  <table class="bg-white shadow-md rounded-lg overflow-hidden">
    <thead>
      <tr class="bg-gray-200">
        <th class="text-left py-2 px-4 border-b">Name</th>
        <th class="text-left py-2 px-4 border-b">Currency</th>
        <th class="text-left py-2 px-4 border-b">Identifier</th>
        <% if this_type[:account_type] == "maybe" %>
          <th class="text-left py-2 px-4 border-b">Account Type</th>
        <% end %>
        <th class="text-left py-2 px-4 border-b">Updated At</th>
        <th class="py-2 px-4 border-b text-center"></th>
      </tr>
    </thead>
    <tbody>
      <% Account.where(account_type: this_type[:account_type]).each do |account| %>
        <tr class="hover:bg-gray-100">
          <td class="py-2 px-4 border-b text-left"><%= account.display_name %></td>
          <td class="py-2 px-4 border-b text-left"><%= account.currency %></td>
          <td class="py-2 px-4 border-b text-left"><%= account.identifier %></td>
          <% if this_type[:account_type] == "maybe" %>
            <td class="py-2 px-4 border-b text-left"><%= account.accountable_type %></td>
          <% end %>
          <td class="py-2 px-4 border-b text-left"><%= account.updated_at %></td>
          <td class="py-2 px-4 border-b text-center">
            <i class="fas fa-trash-alt text-blue-500 hover:text-blue-700" />
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
